@import './utils/vars';
@import './utils/common-rules';
@import './utils/mixins';
@import './components/header';
@import './components/header-menu';
@import './components/logo';
@import './components/navigation';
@import './components/header-social';
@import './components/switch';
@import './components/hero';
@import './components/buttons';
@import './components/advantages';
@import './components/our-doing';
@import './components/our-team';
@import './components/employee-card';
@import './components/our-clients';
@import './components/footer';
@import './components/social-block';
@import './components/form-connection';
@import './components/modal';
@import './components/portfolio';
@import './components/example-card';
