.employee-card {
  display: block;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-card__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employee-card__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: map-get($colors, main-background);
}

.employee-card__position {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
}

.employee-card__social-block {
  display: flex;
  justify-content: center;
}

.employee-card__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: map-get($colors, icons-default);
  border-radius: 50%;

  @include effectsTiming((fill, background-color));

  &:hover,
  &:focus {
    background-color: map-get($colors, accent);
    fill: map-get($colors, interim-heading);
  }
}

.employee-card__link:not(:last-child) {
  margin-right: 10px;
}
