.examples__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include effectsTiming(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__description-wrapper {
  display: flex;
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(102%);

  @include effectsTiming((opacity, transform));

  .examples__link:hover &,
  .examples__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: map-get($colors, interim-heading);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 2px;
  }
}

.examples__description {
  margin: 0;

  color: map-get($colors, interim-heading);
  font-size: 18px;
  line-height: 1.55;
}

.examples__wrapper {
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-bottom: 1px solid map-get($colors, example-border);
  border-left: 1px solid map-get($colors, example-border);
  border-right: 1px solid map-get($colors, example-border);
}

.examples__heading {
  margin-top: 0;
  margin-bottom: 4px;
  text-align: left;

  color: map-get($colors, main-heading);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples__work-type {
  margin: 0;

  font-family: $main-font-family;
  color: map-get($colors, main-text);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
