.form-connection {
  color: map-get($colors, interim-heading);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.form-connection__label {
  display: block;
  margin-bottom: 20px;
}

.form-connection__input {
  width: 100%;
  padding: 15px 0px 15px 16px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;

  @include effectsTiming(border-color);

  &:focus {
    border-color: map-get($colors, accent);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}
