.header__menu {
  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 40px;

      background-color: map-get($colors, main-background);
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
