.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: map-get($colors, dark-background);
}

.hero__container {
  text-align: center;
}

.hero__heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: map-get($colors, interim-heading);

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
