.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: map-get($colors, dark-background);

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/hero-mobile-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-mobile-2x.jpg);
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-tablet-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero-tablet-2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-desktop-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero-desktop-2x.jpg);
    }
  }
}

.hero__container {
  text-align: center;
}

.hero__heading {
  text-align: center;
  margin-top: 0;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: map-get($colors, interim-heading);

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
