.our-team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: map-get($colors, interim-background);

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
