.switch {
  position: absolute;
  top: -6px;
  right: 0;
  border: none;
  background-color: transparent;

  @include effectsTiming(fill);

  &.is-open {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: 0;
  }

  &.is-open .switch__close {
    display: block;
  }

  &.is-open .switch__menu {
    display: none;
  }

  &:hover,
  &:focus {
    fill: map-get($colors, accent);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.switch__close {
  display: none;
}
