body {
  box-sizing: border-box;
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  letter-spacing: $main-letter-spacing;
  color: $main-text-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.container {
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }

  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.heading {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;

  color: map-get($colors, main-heading);
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 28px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}
